		*{
			margin:0;
			padding:0;
		}
		/*图片显示区域*/
		.wrap{
			width: 1000px;
			height: 500px;
			margin:20px auto;
			position: relative;
			overflow:hidden;
			/*background-color: gray;*/  /*test color*/
		}
		/*承载图片的盒子  在其中设置animation动画属性*/
		.imgbox{
			width: 5000px;
			height: 500px;
			animation:imgbox 10s ease-in-out infinite forwards;
		}
		/*设置鼠标移动到图片上，动画处于暂停状态*/
		.imgbox:hover{
			animation-play-state: paused;
		}
		/*这里一共有5张照片，加上“2张照片”的过渡时间帧（30帧的过渡时间帧），共7张，来分享这动画的100帧*/
		@keyframes imgbox{
			0%,14%{
				margin-left: 0;
			}
			21%,35%{
				margin-left:-1000px;
			}
			42%,56%{
				margin-left:-2000px;
			}
			63%,77%{
				margin-left:-3000px;
			}
			86%,to{
				margin-left:-4000px;
			}
		}
		/*这里一共有5张照片，加上“1张照片”的过渡时间帧（10帧的过渡时间帧），共7张，来分享这动画的100帧*/
		@keyframes imgbox1{
			0%,16%{
				margin-left: 0;
			}
			18%,34%{
				margin-left:-1000px;
			}
			36%,52%{
				margin-left: -2000px;
			}
			55%,71%{
				margin-left: -3000px;
			}
			74%,to{
				margin-left: -4000px;
			}
		}
		.imgbox img{
			width: 1000px;
			height: 500px;
			float: left;
		}
		.wrap p{
			width: 100%;
			height: 30px;
			background-color: rgba(0,0,0,.6);
			position: absolute;
			left: 0;
			bottom:0;
			text-align:center;
		}
		.wrap p a{
			display: inline-block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius:50%;
			color:#fff;
			text-decoration: none;
			margin-top:5px;
			margin-left: 5px;
			background-color: gray;
		}
		/*实现照片转动时，下面p标签的a标签有相应变化*/
		.wrap p a:nth-of-type(1){
			animation:a1 10s infinite;
		}
		@keyframes a1{
			0%,20%{
				background-color: red;
			}
			21%,to{
				background-color: gray;
			}
		}
		.wrap p a:nth-of-type(2){
			animation:a2 10s infinite;
		}
		@keyframes a2{
			0%,20%{
				background-color: gray;
			}
			21%,41%{
				background-color: red;
			}
			42%,to{
				background-color: gray;
			}
		}
		/* 小圆圈中显示 */
		.wrap p a:nth-of-type(3){
			animation: a3 10s infinite;
		}
		@keyframes a3{
			0%,41%{
				background-color: gray;
			}
			42%,62%{
				background-color: red;
			}
			63%,to{
				background-color: gray;
			}
		}
		.wrap p a:nth-of-type(4){
			animation:a4 10s infinite;
		}
		@keyframes a4{
			0%,62%{
				background-color: gray;
			}
			63%,85%{
				background-color: red;
			}
			86%,to{
				background-color: gray;
			}
		}
		.wrap p a:nth-of-type(5){
			animation: a5 10s infinite;
		}
		@keyframes a5{
			0%,85%{
				background-color: gray;
			}
			86%,to{
				background-color: red;
			}
		}